/data
/mpib_memoreeg/sourcedata
/mpib_memoreeg/sub-*
/mpib_memoreeg/stimuli
/misc
dataset_description.json
events.json
participants.json
participants.tsv
README.md
LICENSE.txt
.bidsignore
.bids-validator-config.json