/data/eyetracking/p001.edf
/data/eeg/p001.eeg
/data/eeg/p001.vhdr
/data/eeg/p001.vmrk
/data/eyetracking/p001pr.edf
/data/eyetracking/p002.edf
/data/eeg/p002.eeg
/data/eeg/p002.vhdr
/data/eeg/p002.vmrk
/data/eyetracking/p002pr.edf
/data/eyetracking/p003.edf
/data/eeg/p003.eeg
/data/eeg/p003.vhdr
/data/eeg/p003.vmrk
/data/eyetracking/p003pr.edf
/data/eyetracking/p004.edf
/data/eeg/p004.eeg
/data/eeg/p004.vhdr
/data/eeg/p004.vmrk
/data/eyetracking/p004pr.edf
/data/behavioral/resultfile_p001.txt
/data/behavioral/resultfile_p001pr.txt
/data/behavioral/resultfile_p002.txt
/data/behavioral/resultfile_p002pr.txt
/data/behavioral/resultfile_p003.txt
/data/behavioral/resultfile_p003pr.txt
/data/behavioral/resultfile_p004.txt
/data/behavioral/resultfile_p004pr.txt
/dataset_description.json
/participants.json
/participants.tsv
/README
/sub-01/sub-01_scans.tsv
/sub-01/beh/sub-01_task-memoreeg_beh.tsv
/sub-01/eeg/sub-01_task-memoreeg_channels.tsv
/sub-01/eeg/sub-01_task-memoreeg_eeg.eeg
/sub-01/eeg/sub-01_task-memoreeg_eeg.json
/sub-01/eeg/sub-01_task-memoreeg_eeg.vhdr
/sub-01/eeg/sub-01_task-memoreeg_eeg.vmrk
/sub-01/eeg/sub-01_task-memoreeg_events.tsv
