/data
/mpib_memoreeg/sourcedata
/mpib_memoreeg/sub-*
/mpib_memoreeg/stimuli
/misc
dataset_description.json
events.json
participants.json
participants.tsv
/mpib_memoreeg/README*
/mpib_memoreeg/CHANGES
/mpib_memoreeg/LICENSE
.bidsignore
.bids-validator-config.json